RewriteCond %{REQUEST_FILENAME} !-f
# если запрос указывает на несуществующие в этой папке файлы

RewriteCond %{REQUEST_FILENAME} !-d
# если запрос указывает на несуществующие в этой папке директории

RewriteRule (.*) index.php?$1 [L,QSA]

# отдавать все входящие запросы на индекс пхп, все что приходит после вопросительного знака
# это данные отправленные методом гет. Флаг L выполнять последний запрос,
# флаг QSA не обрезать доп параметры направляемые методом гет